* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  top: 2%;
  padding: 20px 100px !important;
  z-index: 200;
}
nav a {
  color: white;
}
nav a:hover {
  color: #bfadad;
}
nav .nav-anchor {
  width: 10%;
}
nav .nav-anchor img {
  width: 100%;
  height: 100%;
}
nav .button-div {
  width: 30%;
}
nav .button-div button {
  background-color: #ff4800;
  width: 30%;
}

.my-carousel img {
  height: 100vh;
}
.my-carousel .carousel-content {
  bottom: 20%;
  left: 10%;
  z-index: 2;
}
.my-carousel .carousel-content p {
  width: 60%;
}
.my-carousel button {
  background-color: #ff4800;
  width: 15%;
}

.blue-content {
  background-color: #2f5796;
  height: 30vh;
  font-size: 20px;
}
.blue-content p {
  line-height: 1.6em;
}

.partners {
  height: 130vh;
  background-color: #f7fafc;
}
.partners .partners-p {
  color: #98a3aa;
  padding-top: 7%;
}
.partners .my-container {
  margin-top: 5%;
}
.partners .my-container .col-lg-3 {
  background-color: #fdfdfe;
  box-shadow: 1px -2px 13px -5px rgba(0, 0, 0, 0.75);
  color: #98a3aa;
  padding-top: 10px;
  padding-bottom: 10px;
}
.partners .my-container .col-lg-3 img {
  display: block;
  padding-left: 5px;
  padding-right: 5px;
}
.partners .my-container .vl {
  border: thin solid #dde5ea;
}
.partners button {
  margin-top: 150px;
  background-color: #faad00;
  transition: all 0.5s linear;
}
.partners button:hover {
  transform: translateY(-5px);
  box-shadow: -1px 2px 22px -7px red;
}

.platform {
  height: 130vh;
  background: url(../images/all-in-one-solutions-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.platform .h2 {
  padding-top: 8%;
}
.platform .content {
  width: 90%;
}
.platform .my-cal {
  width: 50%;
  height: 100%;
}

.payments {
  height: 90vh;
}
.payments h2 {
  margin-top: 5%;
  width: 60%;
  line-height: 1.6em;
  margin-top: 5%;
}
.payments .carousel {
  width: 75%;
  margin: 5% auto;
}
.payments .carousel .texts {
  top: 2%;
  left: 40%;
  width: 60%;
}
.payments .carousel .texts p {
  font-size: 18px;
}
.payments button {
  background-color: #0042a9;
  margin-top: 60px;
  width: 12%;
  font-size: 20px;
}

.carousels .carousel-container {
  height: 100%;
  width: 100vw;
  background-color: blue;
}
.carousels .carousel-container .carousel {
  height: 100%;
  width: 100%;
  background-color: yellowgreen;
}
.carousels .carousel-container .carousel img {
  height: 670px;
  width: 100vw;
}

.forbes {
  background-image: url(../images/bg_city_landscape.jpg);
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.forbes p {
  padding-top: 10%;
  font-size: 20px;
}