* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

$color-gray: #98a3aa;
$color: #ff4800;
$background-color: #f7fafc;

@mixin button {
    background-color: $color;
}

nav {
    top: 2%;
    padding: 20px 100px !important;
    z-index: 200;
    a {
        color:white;
        &:hover {
            color: #bfadad;
        }
    }
    .nav-anchor {
        width: 10%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .button-div {
        width: 30%;
    }

    .button-div button {
        @include button;
        width: 30%;
    }
}

.my-carousel {
    img {
        min-height: 100vh;
    }

    .carousel-content {
        bottom: 20%;
        left: 10%;
        z-index: 2;
        p {
            width: 60%;
        }
    }

    button {
        @include button;
        width: 15%;
    }
}

.blue-content {
    background-color: #2f5796;
    min-height: 30vh;
    font-size: 20px;
    p {
        line-height: 1.6em;
    }
}

.partners {
    min-height: 130vh;
    background-color: $background-color;
    .partners-p {
        color: $color-gray;
        padding-top: 7%;
    }
    .my-container {
        margin-top: 5%;
        .col-lg-3 {
            background-color: #fdfdfe;
            box-shadow: 1px -2px 13px -5px rgba(0,0,0,0.75);
            color: $color-gray;
            padding-top: 10px;
            padding-bottom: 10px;
            img{
                display: block;
                padding-left: 5px;
                padding-right: 5px;
          }
    }
    .vl {
        border: thin solid #dde5ea;
    }
  }

  button {
      margin-top: 150px;  
      background-color: #faad00;
      transition: all .5s linear;
      &:hover {
        transform: translateY(-5px);
        box-shadow: -1px 2px 22px -7px rgba(255,0,0,1);
      }
  }
}

.platform {
    min-height: 130vh;
    background: url(../images/all-in-one-solutions-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .h2 {
        padding-top: 8%;
    }

    .platform-anchor {
        bottom: 10%;
    }
}

.payments {
    min-height: 90vh;
    h2 {
        margin-top: 5%;
        width: 60%;
        line-height: 1.6em;
        margin-top: 5%;
    }

    .carousel {
        width: 75%;
        margin: 5% auto;
        .texts {
            top: 2%;
            left: 40%;
            width: 60%;
            p {
                font-size: 18px;
            }
        }
    }

    button {
        background-color: #0042a9;
        margin-top: 60px;
        width: 12%;
        font-size: 20px;
    }
}

.carousels {
    .carousel-container {
        height: 100%;
        .carousel {
            height: 100%;
            img {
                height: 670px;
                width: 100%;
            }
        }
    }
.carousels-p {
    top: 20%;
    left: 20%;
    .watch {
        border: 1px solid white;
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
        width: 20%;
        font-size: 20px;
        cursor: pointer;
    }
}
}

.forbes {
    background-image: url(../images/bg_city_landscape.jpg);
    min-height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    p {
        padding-top: 10%;
        font-size: 20px;
    }
}

.advert {
    background-color: $background-color;
    min-height: 100vh;
    .row {
        padding-top: 5%;
        .buttons {
            button {
                background-color: black;
                .strong {
                    font-size: 25px;
                }
            }

            .btn1 {
                margin-right: 12px;
            }
        }
    }
}

.bottom-cards {
    min-height: 100vh;
    h3 {
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .card {
        min-height: 60vh;
    }
    
    .card-text {
        color: $color-gray;
        font-size: 18px;
        line-height: 1.6em;
    }
    
    .download {
        color: $color;
        bottom: 1%;
        left: 25%;
    }
}

.ready {
    min-height: 60vh;
    background: linear-gradient(180deg, rgba(61,61,61, .8) 0%, rgba(38,38,38, 1) 96%), url(../images/expand-marketplaces.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    h3 {
        padding: 90px;
    }
    button {
        @include button;
    }
}

footer {
    background-color: #252525;
    min-height: 60vh;
    padding: 2%;
    li {
        padding-top: 5%;
    }

    .last a {
        border-radius: 50%;
        background-color: white;
        padding: 2%;
        margin: 1%;
        i {
            color: black;
        }
    }

    a {
        color: white;
    }
    
    .container-row {
        width: 90%;
        margin: auto;
        &:nth-child(1) {
            font-size: 17px;
        }
        &:nth-child(2) {
            font-size: 13px;
        }
    } 

    button {
        background-color: black;
        font-size: 13px;
    }
}